{% extends "base.html" %}

{% block title %}
topics
{% endblock %}

{% block body %}
<style>
  .card {
    background-color: #BBC6CC;
    border-radius: 15px;
  }
  .card-body {
    background-color:  #8FC1E3;
    border-radius: 15px;
  }

  .card-title {
    color: #080F5B;
  }

</style>

<div>
  {% for topic in topics %}
  <div class="card text-center text-black mt-5 w-50 mx-auto p-2">
    <h5 class="card-title">{{ topic.number_of_topic }}. {{ topic.title_of_topic }}</h5>
    <div class="card-body">
      <p class="card-text"></p>
      <link rel="stylesheet" href="../../static/css/button.css">
      <a href="/topics/{{ topic.number_of_topic }}" class="btn-new">К задачам</a>
    </div>
    <div class="card-footer text-body-secondary">
      Задач: {{ topic.count_of_tasks }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}