
<header class="p-3 bg-black text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" previewlistener="true">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-3 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-4 text-secondary {% if request.path == '/' %}text-white{% endif %}" >Главная</a></li>
          <li><a href="/topics" class="nav-link px-4 text-secondary {% if request.path == '/topics' %}text-white{% endif %}">Темы</a></li>
          <li><a href="/about" class="nav-link px-2 text-secondary {% if request.path == '/about' %}text-white{% endif %}">О нас</a></li>
        </ul>
    </div>
  </div>
</header>