.main {
  vertical-align: middle;
  max-width: 600px; /* Ширина контейнера */
  margin: 0 auto;
  margin-top: 100px;
  font-size: 70px;
  font-weight: 600;
  background-image: url('../../static/img/1702456432_kalix-club-p-krasivii-fon-dlya-prezentatsii-minimalizm-16.jpg');
  background-size: 250px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}